html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

body{
    color: #2F3035;
    font-family: 'SFProDisplay-Regular', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    overflow-x: hidden;
    min-width: 320px;

}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section{
    margin-bottom: 80px;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
}

.menu__item{
    display: inline-block;
}

.menu__item + .menu__item{
    padding-left: 50px;
}

.header__box{
    display: flex;
}

.menu__btn{
    display: none;
}

.header__address{
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}

.header__address::before{
    content: "";
    position: absolute;
    background-image: url('../images/address-icon.svg');
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
}

.menu-mobile__list{
    width: 243px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: all .3s;
    position: absolute;
    z-index: 10;
    background-color: #fff;

}

.menu__mobile-linewrapper{
    display: none;
}

.menu-mobile__list--active{
    transform: translateX(0%);
}

.menu-mobile__item{
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__link{
    display: block;
    padding-left: 53px;
    padding-top: 36px;

}

.menu-mobile__img{
    position: absolute;
    left: 11px;
    bottom: 0;
}

.user-list{
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.user-list__item{
    padding-right: 10px;
}

.basket{
    position: relative;
}

.basket__num{
    position: absolute;
    font-family: 'SFProDisplay-Medium', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    background-color: #1C62CD;
    border-radius: 50%;
    text-align: center;
    bottom: -2px;
    right: -13px;
}

.header__bottom{
    margin-bottom: 80px;
}

.menu-categories{
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;
}

.menu-categories__item{
    position: relative;
}

.menu-categories__link{
    transition: all 0.2s ease;
    font-weight: 400;
    padding: 15px 0 14px;
    position: relative;  
}

.menu-categories__link::before{
    content: "";
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1C62CD;
    height: 3px;
    bottom: -2px;
    transition: all 0.2s ease;
}

.menu-categories__link:hover{
    color: #000; 
}

.menu-categories__link:hover:before{
    width: 100%;
    right: auto;
    left: 0;
}

.banner-section__inner{
    display: flex;
    justify-content: space-between;
}

.banner-section__slider{
    max-width: 870px;
}

.banner-section__slider-btn,
.product-slider__slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 5;
    cursor: pointer;
}

.banner-section__slider-btnprev{
    left: 20px;
}

.banner-section__slider-btnnext{
    right: 20px;
}

.slick-dots{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button{
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;

}

.slick-dots .slick-active button{
    background-color: #fff;
}

.slick-active li button{
    background-color: #fff;
}

.sale-item{
    max-width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info{
    color: #fff;
    background-color: #1C62CD;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price{
    text-align: right;
}

.aside__btn{
    display: none;
}

.price{
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.sale-item__price-new{
    font-weight: 700;
    font-size: 27px;
    color: #1C62CD;
    line-height: 32px;
    margin-right: 6px;
    padding-right: 20px;
}   

.sale-item__price-new::after{
    content: '';
    background-image: url('../images/icons-price.svg');
    position: absolute;
    right: 0;
    top: 5px;
    width: 15px;
    height: 18px;

}

.sale-item__price-old{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-right: 15px;
    background-image: url('../images/old-line.svg');
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;

}

.sale-item__price-old::after{
    content: '';
    background-image: url('../images/icons-price-old.svg');
    position: absolute;
    right: -10px;
    top: 8px;
    width: 8px;
    height: 10px;

}

.sale-item__footer{
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span{
    color: #1C62CD;
    display: block;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;

}

.sale-item__title{
    font-size: 18px;
    line-height: 21px;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 700;
    margin: 7px;
}

.banner-section__slider-img{
    object-fit: cover;
    min-height: 400px;
}

.sale-item__img{
    object-fit: contain;
}

.search__tabs{
    margin-bottom: 25px;
}

.search__tabs-item{
    padding: 11px 26px 12px;
}

.search__tabs-item.tab--active{
    border-radius: 5px;
    background-color: #F0F0F4;
    font-weight: 700;
    font-family: 'SFProDisplay-Bold', sans-serif;
}

.tabs-content{
    display: none;
}

.tabs-content.tabs-content--active{
    display: block;
}

.search__content-form{
    display: flex;
}

.search__content-input{
 background: #F0F0F4;
 border-radius: 3px;
 padding: 5px 20px;
 border: none;   
 font-size: 16px;
 line-height: 19px;
 width: 100%;
}

.search__content-input::placeholder{
    color: #656464;
}

.search__content-btn{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
    font-family: 'SFProDisplay-Bold', sans-serif;
    background: #1C62CD;
    border-radius: 3px;
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
}

.categories__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item{
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    display: flex;
    padding: 20px 20px 16px;
    justify-content: space-between;
    transition: all .3s;
}

.categories__item-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-img{
    text-align: center;
    width: 50%;
}

.categories__item-img img{
    max-width: 100%;
}

.categories__item-title{
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    font-family: 'Barlow', sans-serif;
    transition: all .3s;
}

.categories__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item:hover .categories__item-title{
    color: #1C62CD;

}

.categories__item-text{
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

.categories__item-text::after{
    content: url('../images/link-arrow.svg');
    padding-left: 2px;
}

.product-item__wraper{
    position: relative;
    width: 271px;
    transition: all .3s;
}

.product-item__wraper.product-item__wraper--list{
    width: 100%;
}

.product-item{
    width: 100%;
}

.product-item{
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 400px;
}

.product-item__title{
    font-weight: normal;
    padding: 14px 0 25px;
    font-size: 18px;
    line-height: 21px;
}

.product-item__favorite{
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 5;
}

.product-item__favorite::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/favorite.svg');
}

.product-item__favorite--active::before{
    background-image: url('../images/favorite-active.svg');
}

.product-item__price{
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.product-item__basket{
    position: absolute;
    width: 60px;
    height: 40px;
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    bottom: 0;
    right: 0;
    padding-top: 9px;
    cursor: pointer;
    z-index: 10;
}

.product-item__hover-text{
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: all .3s;
}

.product-item:hover .product-item__hover-text{
    opacity: 1;
    color: #2F3035;
}

.product-item:hover .product-item__notify-text{
    color: #2F3035;
}

.product-item:hover{
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    color: #1C62CD;
}

.product-item--sale::before{
    content: 'sale';
    padding: 8px 15px;
    background-color: #1C62CD;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__wraper.product-item__not-available .product-item__price{
    display: none;

}

.product-item__notify-text{
    display: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}

.product-item__wraper.product-item__not-available .product-item__notify-text{
    display: block;
}

.product-item__wraper.product-item__not-available .product-item__basket{
    display: none;

}

.product-item__notify-link{
    display: none;

}

.product-item__wraper.product-item__not-available .product-item__title{
    padding-bottom: 13px;

}

.product-item__wraper.product-item__not-available .product-item__notify-link{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1C62CD;
    
}

.product-item__wraper.product-item__not-available .product-item__notify-link span{
    border-bottom: 1px solid #1C62CD;


}

.product__title{
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 25px;
}

.products__tab + .products__tab{
    margin-left: 50px;

}

.products__tabs{
    margin-bottom: 25px;
}

.products__tab{
    padding-bottom: 10px;
}

.products__tab.tab--active{
    border-bottom: 2px solid #1C62CD;
}

.product-slider__slider-btnprev{
    left: -40px;
}

.product-slider__slider-btnnext{
    right: -40px;
}

.slick-slide img{
    display: inline;
}

.products{
    margin-bottom: 80px;
}

.product__more{
    text-align: center;
    margin: 35px 0 0;
}

.product__more-link{
    line-height: 18px;
    letter-spacing: 0.12em;
    font-size: 15px;
    text-transform: uppercase;
    background: #F0F0F4;
    padding: 16px 43px;
}

.banner{
    margin-bottom: 80px;
}

.footer{
    background: #F0F0F4;

}

.footer__bottom{
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link{
    line-height: 12px;
    color: #48494D;
    font-size: 10px;
    margin: 0 40px;
}

.footer__top{
    padding-top: 43px;
}

.footer__top-inner{
    display: flex;
    justify-content: space-between;
}

.footer__top-newslatter.footer__top-item{
    width: 295px;
    margin-right: 50px;
}

.footer__top-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.footer-form{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;

}

.footer-form__input{
    background-color: #fff;
    border: none;
    line-height: 17px;
    font-size: 14px;
    padding: 0 12px;
}

.footer-form__input::placeholder{
    color: #C4C4C4;
}

.footer-form__btn{
    text-transform: uppercase;
    padding: 10px 16px;
    border: none;
    background-color: #1C62CD;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    font-family: 'SFProDisplay-Semibold', sans-serif;
}

.footer__top-item{
    width: 200px;
}

.footer-list{
    font-size: 14px;
    line-height: 23px;
}

.footer__top-social.footer__top-item{
    width: 250px;
}

.social-list{
    display: flex;
    align-items: center;
    height: 100%;

}

.social-list__item + .social-list__item{
    margin-left: 30px;


}

.breadcrumbs{
    margin-bottom: 40px;
}

.breadcrumbs__list-item{
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}

.breadcrumbs__list-item::after{
    content: '';
    position: absolute;
    right: 0;
    background-image: url('../images/link-arrow.svg');
    width: 6px;
    height: 9px;
    bottom: 5px;

}

.breadcrumbs__list-item:last-child::after{
    display: none;

}

.catalog{
    margin-bottom: 100px;
}

.catalog__title{
    font-weight: bold;
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
}
.catalog__filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog__filter-items button{
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    border-radius: 3px;
    background: #F0F0F4;
    border: none;
    padding: 5px 22px;
    cursor: pointer;

}

.catalog__filter-items button + button{
    margin-left: 8px;
    cursor: pointer;
}

.catalog__filter-btn{
    display: flex;
    align-items: center;

}

.catalog__filter-btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

}

.catalog__filter-btn button + button{
    margin-left: 10px;
}

button.catalog__filter-btngrid{
    width: 26px;
    height: 21px;
}

button.catalog__filter-btnline{
    width: 25px;
    height: 19px;

}

.catalog__filter-button{
    opacity: 0.3;
    outline: none;
}

.catalog__filter-button--active{
    opacity: 1;
}

.select-item{
    border: 1px solid #D7D9DF;
    font-size: 14px;
    line-height: 17px;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;

}

.catalog__inner{
    display: flex;

}

.catalog__inner-aside{
    min-width: 290px;
    margin-right: 10px;
}

.catalog__inner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__inner-list .product-item__wraper{
    margin-bottom: 30px;
}

.product-item__img{
    max-width: 100%;
}

.pagination{
    width: 100%;
    margin-top: 70px;
    
}
.pagination-list{
    display: flex;
    justify-content: center;

}

.pagination-list__item{
    padding: 6px 12px;
    border: 2px solid transparent;
    margin: 0 4px;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;

}

.pagination-list__item.active{
    padding: 13px 15px;
    border: 2px solid #1C62CD;
    color: #1C62CD;

}

.pagination-list__item a{
   display: block; 
}

.aside-filter__tabs{
    display: flex;
    justify-content: space-between;
}

.aside-filter__tab{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 50%;
}

.aside-filter__tab.tab--active{
    color: #2F3035;
    font-weight: bold;
    font-family: 'SFProDisplay-Bold', sans-serif;

}

.aside-filter__tab.tab--active span{
    display: inline-block;
    padding-bottom: 7px;
    border-bottom: 2px solid #1C62CD;

}

.aside-filter__item-drop{
    margin: 40px 0;
}

.aside-filter__item-title{
    font-family: 'SFProDisplay-Bold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
}

.filter__item-drop{
    position: relative;
    cursor: pointer;
}

.filter__item-drop::before{
    content: '';
    background-image: url('../images/arrow-down.svg');
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 12px;
    height: 8px;
    transform: rotate(0deg);
}

.filter__item-drop--acttive::before{
    transform: rotate(180deg);
}

.aside-filter__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

.aside-filter__content-box{
    width: 50%;
    margin-bottom: 10px;
}

.aside-filter__content-label{
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1px solid #C4C4C4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -1px;
    margin: 0 8px 0 0;
}

.jq-checkbox.checked, .jq-radio.checked{
    background: #1C62CD;
    border: none;

}

.jq-checkbox.checked .jq-checkbox__div{
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0);
    background-image: url('../images/checked.svg');
}

.jq-radio.checked .jq-radio__div{
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.aside-filter__content.aside-filter__content-radio{
    flex-wrap: nowrap;

}

.irs--flat{
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max{
    top: 55px;
    padding: 0;
    line-height: 17px;
    text-decoration: underline;
    font-size: 14px;
    color: #2F3035;
    font-family: 'Barlow', sans-serif;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;
}

.irs-min::before,
.irs-max::before{
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #C4C4C4;
    left: 0;
}

.irs-min::before{
    content: 'от';
}

.irs-max::before{
    content: 'до';
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #E0E0E0;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #1C62CD;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child {
    background-color: transparent;
}

.aside-filter__item-list{
    margin: 46px 0 40px;
}

.filter__item-list{
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
    
}

.filter__item-list-title{
    font-weight: 600;
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-size: 16px;
    padding-bottom: 14px;
    line-height: 19px;
    padding-left: 26px;
}

.filter__item-list-select{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
}

.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 20px;
    padding: 0 25px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger {
    background-image: url(../images/arrow-down.svg);
    bottom: 5px;
    width: 12px;
    height: 8px;
    transform: rotate(0deg);
    border-left: none;
    top: 6px;
    right: 9px;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active{
    background: transparent;
    box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox li:hover{
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected{
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li{
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown{
    border-radius: 0;
    padding-top: 15px;
}

.filter-more{
    width: 100%;
}

.filter-more__btn{
    font-size: 14px;
    line-height: 17px;
    color: #1C62CD;
    border: none;
    border-bottom: 1px solid #1C62CD;
    background-color: transparent;
    padding: 0;
}

.filter-search{
    width: 100%;
    border: 1px solid #E0E0E0;
    height: 30px;
    padding: 0 20px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.filter-search::placeholder{
    color: #BDBEC2;

}

.btn-checked .aside-filter__content{
    flex-wrap: nowrap;
    justify-content: space-between;

}

.btn-checked .aside-filter__content-box{
    width: auto;

}

.btn-checked .aside-filter__content-label{
    position: relative;
    height: 25px;
    width: 63px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4;
    
}

.btn-checked .jq-checkbox{
    height: 25px;
    width: 63px;
    background: #F0F0F4;
    border: none;
}

.btn-checked .jq-checkbox.checked{
    background: #1C62CD;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text{
    color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div{
    display: none;

}

.btn-checked__text{
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;

}

.filter-btn__send{
    background: #F0F0F4;
    padding: 16px 85px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    color: #BDBEC2;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;

}

.filter-btn__send--active{
    background-color: #1C62CD;
    color: #fff;
}

.aside-filter__item-btn{
    text-align: center;

}

.filter__extra{
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;

}

.filter__extra::after{
    content: '';
    background-image: url('../images/arrow-down.svg');
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 12px;
    height: 8px;
    top: 4px;
}

.filter__extra-content{
    display: none;
}

.filter__extra.filter__item-drop--acttive::after{
    transform: rotate(180deg);
}

.filter-btn__reset{
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    color: #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.product-card{
    margin-bottom: 80px;
}

.product-card__inner{
    display: flex;
    justify-content: space-between;
}

.product-card__img-box{
    width: 500px;
    padding-top: 64px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.product-card__img-box::before{
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    padding: 13px 25px;
    border-radius: 3px;
}

.product-card__price-old{
    font-size: 30px;
    line-height: 44px;
    display: inline-block;
    opacity: 0.6;
    background-image: url('../images/old-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.product-card__price-new{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 17px;

}

.product-card__link{
    border-bottom: 1px solid #1C62CD;
    font-size: 15px;
    line-height: 18px;
    color: #1C62CD;
}

.product-card__content{
    width: 570px;
}

.product-card__title{
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}

.product-card__code{
    font-size: 15px;
    line-height: 18px;
    color: #2F3035;
    opacity: 0.6;
    margin-bottom: 22px;
}

.product-card__buttons{
    margin-bottom: 50px;
}

.product-card__tab{
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    opacity: 0.6;
    padding-bottom: 5px;
    padding-right: 17px;
    margin-bottom: 5px;

}

.product-card__tab + .product-card__tab{
    padding-left: 17px;
}

.product-card__tab.tab--active{
    opacity: 1;
    border-bottom: 2px solid #1C62CD;
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: bold;
}

.product-card__item{
    padding: 15px 0 6px;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    justify-content: space-between;
}

.product-card__item-left{
    padding-right: 15px;
}

.product-card__item-right{
    width: 125px;
}

.product-card__more{
    font-size: 14px;
    line-height: 17px;
    color: #1C62CD;
    border-bottom: 1px solid #1C62CD;
    margin-bottom: 40px;
}

.product-card__list{
    margin-bottom: 20px;
}

.product-card__btn button{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 56px;
    color: #fff;
    background: #1C62CD;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.product-card__buttons a + a{
    margin-left: 30px;
}

.card__tabs{
    margin-bottom: 100px;
}

.card__tab-box{
    background: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 22px 0;
    margin-bottom: 50px;
}

.card__tab{
    font-size: 20;
    line-height: 24px;
    color: #2F3035;
    opacity: 0.6;
}

.card__tab.tab--active{
    border-bottom: 1px solid #1C62CD;
    opacity: 1;
}

.card__top-line{
    margin-bottom: 10px;
}

.card__label-search{
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, .7);
}

.card__input-search{
    background: #F0F0F4;
    border-radius: 3px;
    margin-left: 17px;
    padding: 9px 37px 9px 17px;
    border: none;
    margin-right: 100px;
}

.card__label-pickup{
    margin-left: 54px;
    font-size: 17px;
    line-height: 20px;
    color: rgba(47, 48, 53, .7);

}

.card__list-item{
    padding: 20px 0;
    border-bottom: 1px solid rgba(47, 48, 53, 0.1);
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: rgba(47, 48, 53, .7);
    
}

.card__list-itemtitle{
    color: rgb(47, 48, 53);
    font-size: 20px;
    line-height: 24px;
}

.card__list-address{
    width: 220px;
    margin-right: 80px;

}

.card__list-workhours{
    width: 157px;
    margin-right: 96px;

}

.workhours{
    display: flex;
    justify-content: space-between;

}

.card__list-available{
    width: 140px;
    margin-right: 60px;

}

.card__list-num{
    width: 104px;

}

.card__list-btn{
    margin-left: auto;

}

.card__list-btn button{
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    padding: 9px 40px;
    text-transform: uppercase;
    background-color: #1C62CD;
    border-radius: 3px;
    border: none;
}

.product-slider .slick-dots{
    bottom: -30px;

}

.product-slider .slick-dots button{
    background-color: #C4C4C4;

}

.product-slider .slick-dots .slick-active button{
    background-color: #1C62CD;

}

.product-card__btn-mobile{
    display: none;
}

.footer__topdrop{
    pointer-events: none;
}